/* Universal */

html {
  font-size: 14px;
}

body {
  font-family: 'Karla';
}

ol, ul {
  margin: 0;
}

.title {
  font-size: 5rem;
}

.text-content {
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.subtitle {
  font-size: 3rem;
}


/* Font Face */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v13/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local('Montserrat Black'), local('Montserrat-Black'), url(https://fonts.gstatic.com/s/montserrat/v13/JTURjIg1_i6t8kCHKm45_epG3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKtdSZaM9iE8KbpRA_hK1QN.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local('Quicksand Bold'), local('Quicksand-Bold'), url(https://fonts.gstatic.com/s/quicksand/v9/6xKodSZaM9iE8KbpRA_pkHEYT8L_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: local('Karla'), local('Karla-Regular'), url(https://fonts.gstatic.com/s/karla/v7/qkBbXvYC6trAT7RVLtw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: local('Karla Bold'), local('Karla-Bold'), url(https://fonts.gstatic.com/s/karla/v7/qkBWXvYC6trAT7zuC8m5xLs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Kollektif';
  src: ('../../../../../downloads/fonts/Kollektif.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}@font-face {
  font-family: 'Kollektif';
  src: ('../../../../../downloads/fonts/Kollektif-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}@font-face {
  font-family: 'Kollektif';
  src: ('../../../../../downloads/fonts/Kollektif-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}


/* Header */

header {
  color: #0a5c8f;
  height: 8rem;
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 100%;
  top: 0;
  border-bottom: 10px #0a5c8f solid;
}

a {
  color: #0a5c8f;
}

header a:hover {
  border-bottom: 2px solid #e1afb4;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

nav div {
  display: flex;
  align-items: center;
}

nav span {
  font-size: 3rem;
  padding: 1rem;
}

nav li {
  display: inline;
  list-style: none;
  font-size: 1.5rem;
  padding-right: 1rem;
}

header img {
  width: 4rem;
}

.logo {
  padding-left: 15rem;
  font-family: 'Kollektif','Quicksand';
}

.menu {
  padding-right: 15rem;
}
.open {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {

  nav, header {
    height: 5rem;
  }
  header {
    border-bottom: 3px solid #0a5c8f;
  }
  .menu {
    display: none;
  }
  .logo {
    padding-left: 1rem;
  }
  .logo img {
    width: 3rem;
  }
  .logo span {
    font-size: 2rem;
  }
  .open {
    display: block;
    padding: 1rem;
  }
  header a:hover {
    text-decoration: none;
    border-bottom: none;
  }
  #mobile {
    justify-content: space-between;
    position: fixed;
    overflow-x: hidden;
  }
  .overlay {
    height: 100%;
    width: 0;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    overflow: hidden;
  }
  .overlay-content a {
    display: block;
    padding: 1rem;
    width: 100%;
    font-size: 1.5rem;
    color: black;
  }
  .overlay-content a:hover {
    text-decoration: none;
  }
  .text-content {
    padding: 2rem;
  }
  .overlay .closebtn {
    position: absolute;
    padding: 1rem;
  }
}

/* Banner */

.banner {
  background-color: #ececec;
  margin: auto;
  color: #2f2e2e;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  line-height: 4.5rem;
  font-family: 'Montserrat';
  padding-top: 2rem;
}

.special {
  color: #c4d4e7;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .banner {
    line-height: 1rem;
    font-size: 0.6rem;
    padding: 6rem 1rem 1rem 1rem;
  }
}

/* Jumbotron */

.jumbotron {
  background-image: url("../images/black bee wide.jpg");
  background-position: center;
  margin: 0;
  font-family: "Kollektif";
  background-size: cover;
}

.jumbotron p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

#home img {
  display: none;
}

.inside {
  background-color: white;
  width: 35rem;
  height: 27rem;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.btn a {
  background-color: #0a5c8f;;
  color: white;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
}

  .btn a {
    color: white;
  }

.btn a:hover {
  text-decoration: none;
  color: #0a5c8f;
  background-color: white;
  font-weight: bold;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  #home .inside {
    margin: 0;
    height: 20rem;
    width: 100%;
  }
  #home .text-content {
    line-height: 2rem;
  }
  .title {
    font-size: 3rem;
  }
  #home {
    padding: 0;
  }
  .jumbotron p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .jumbotron {
    background-image: none;
  }
  #home img {
    display: block;
    width: 100%;
  }
  #home .title {
    color: #0a5c8f;
  }

}

/* Gallery */

  .gallery {
    display: flex;
    justify-content: center;
    margin: 3rem;
    align-items: center;
    background-color: #ececec;
  }

  .gallery span {
    padding: 2rem;
  }

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .gallery span {
    font-size: 1.5rem;
    padding: 1rem;
  }
  .gallery {
    margin: 0;
  }
}

  /* Stip */

  .strip {
    background-color: #c4d4e7;
    height: 7rem;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .strip .text-content {
    margin: 2rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .strip {
      letter-spacing: 0.1rem;
      line-height: 2rem;
      font-size: 1rem;
    }
    .strip .text-content {
      padding: 0;
    }
  }



/* Page shop */

  #shop .btn {
    padding-top: 2rem;
  }

  #shop .jumbotron {
    background-image: url("../images/k-heart black.jpeg");
    background-position: center;
  }

  .product-page a {
    color: white;
  }

  .product-page a:hover {
    text-decoration: none;
    font-weight: bold;
  }

  .product .text-content {
    padding: 2rem;
    background-color: #0a5c8f;
    color: white;
    text-align: center;
  }

  .product .text-content span {
    display: block;
  }

  .all-products {
      margin: 3rem 6rem;
  }

  .product {
    width: 25%;
    margin-bottom: 3rem;
  }

  .product img {
    height: auto;
    width: 100%;
  }

  .row-1, .row-2,.row-3 {
    display: flex;
    justify-content: space-around;
  }

  .row-1 .product {
    margin-top: 3rem;
  }

  .name {
    font-size: 2rem;
    text-align: center;
  }

  .hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 313.83px;
  }

  .hover:hover {
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out 0.1s;
  }

  #hat .hover {
    background-image: url("../images/hat white square.jpg");
  }

  #hat .hover:hover {
    background-image: url("../images/hat black square.jpg");
  }

  #beeshirt .hover {
    background-image: url("../images/bee shirts square.jpg");
  }

  #beeshirt .hover:hover {
    background-image: url("../images/bee shirts white.jpg");
  }

  #globeshirt .hover {
    background-image: url("../images/globe shirt.jpg");
  }

  #globeshirt .hover:hover {
    background-image: url("../images/globe shirt blue.jpg");
  }

  .mult img {
    display: none;
  }
  .description {
    display: block;
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .product-page .jumbotron {
      background-size: cover;
    }
    .product-page .inside {
      height: 10rem;
      width: 50%;
      padding: 1rem;
      margin: auto;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    .product-page .text-content {
      padding: 1rem;
    }
    .all-products {
      margin: 1rem;
    }
    .product {
      width: 33%;
    }
    .hover {
      display: none;
    }
    .mult img {
      display: block;
    }
    .product .text-content .description {
      display: none;
    }
    .name {
      font-size: 1.2rem;
    }
    .price {
      font-size: 0.8rem;
    }
  }

  /* About */

  .page {
    display: flex;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .info .subtitle {
    display: block;
  }

  .wide {
    background-color: #ececec;
  }

  .detail {
    padding-right: 5rem;
  }
  .vid {
    width: 100%;
    margin: auto;
  }
  .vid video {
    width: 100%;
  }

  .page .text-content {
    padding: 3rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .detail {
      width: 100%;
      padding: 0;
    }
    .subtitle{
      font-size: 2.5rem;
    }
    .info .text-content {
      padding: 1rem;
    }
    .page {
      padding: 0;
      display: block;
    }
    .vid video {
      width: 100%
    }
    .vid {
      display: flex;
      width: 60%;
      margin: auto;
      padding-bottom: 2rem;
    }

  }


  /* Contact */


  input[type=text], select, textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ececec;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    resize: vertical;
}

input[type=submit] {
  width: 100%;
  background-color: #0a5c8f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

  .container {
    padding: 3rem;
    width: 900px;
  }

  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  /* Footer */

    footer {
      border-top: 5px solid #0a5c8f;
      text-align: center;
    }
