/* Font Face */
@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Libre Barcode 39 Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebarcode39text/v14/sJoa3KhViNKANw_E3LwoDXvs5Un0HQ1vT-0H0h5K2dnIag.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal */

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: 'Lato';
  height: 100%;
}

p {
  font-weight: 100;
}

ol, ul {
  margin: 0;
}

.title {
  font-size: 10rem;
  text-align: center;
}

.text-content {
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.subtitle {
  font-size: 3rem;
}

a:hover {
  color: inherit;
}
a {
  color: black;
}

.lato {
  font-family: 'Lato';
}
.mobile {
  display: none;
}

button {
  background-color: none;
  border: none;
}


/* Header */

header {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 100%;
  top: 0;
  padding: 1rem;
  transition: 0.2s;
}


.menu a:hover {
  border-bottom: 2px solid #0a5c8f;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav span {
  padding: 1rem;
}

nav li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  padding-right: 1.5rem;
}

.logo img {
  width: 4rem;
}

.logo {
  padding-left: 15rem;
  font-family: 'Kollektif','Lato';
  font-size: 3rem;
  color: #0a5c8f;
}
.logo a {
  color: #0a5c8f;
}
.logo a:hover {
  text-decoration: none;
}

.menu {
  padding-right: 15rem;
  overflow: hidden;
}
.open {
  display: none;
}

.mobile-overlay ul {
  padding: 0;
}

.menu ul {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

#mobile, #mobileShop {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  header {
    display: flex;
    align-items: center;
  }
  nav {
    justify-content: space-between;
    width: 100%;
  }
  nav, header {
    height: 5rem;
  }
  .menu {
    display: none;
  }
  .logo {
    padding-left: 1rem;
  }
  .logo img {
    width: 3rem;
  }
  .logo span {
    font-size: 2rem;
  }
  .open {
    display: block;
    padding: 1rem;
  }
  header a:hover {
    border-bottom: none;
  }
  #mobile, #mobileShop {
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    display: block;
  }
  .mobile-overlay, .o{
    height: 100%;
    width: 0;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #ececec;
    transition: 0.6s;
  }
  .o {
    z-index: 5;
  }
  .overlay-content {
    position: relative;
    top: 5%;
    text-align: left;
    padding-top: 1rem;
    overflow: hidden;
  }
  .mobile-overlay-main {
    left: 15%;
  }
  .overlay-content li {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
  .overlay-content button {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding: 0;
    background-color: #ececec;
  }
  .mobile-overlay a:hover {
    text-decoration: none;
  }
  .text-content {
    padding: 2rem;
  }
  .mobile-overlay .mobile-overlay-close {
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    left: 0;
    top: 0;
    background-color: #ececec;
  }
  .backbtn {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
  }
}

.dropdown {
  overflow: hidden;
  float: left;
  position: static;
  top:100%;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding-right: 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  visibility: hidden;
  display: block;
  min-width: 270px;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 60%;
  margin: 0;
  padding-top: 1rem;
  opacity: 0;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Jumbotron */

#home {
  display: block;
}

.jumbotron {
  margin: 0;
  background-size: cover;
  background-position: top;
  margin-top: 100px;
}

#home .jumbotron {
  background-image: url("../images/pinetree-tote.jpg");
}

.jumbotron p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.jumbotron img {
  display: none;
}

.jumbotron .title {
  font-family: 'Kollektif', 'Lato';
  font-size: 3rem;
}
#home .jumbotron .text-content {
  padding: 2rem;
}

.jumbotron-inside {
  background-color: white;
  width: 35rem;
  height: 22rem;
  margin: auto;
  margin-top: 14rem;
  margin-bottom: 9rem;
  margin-right: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  background-color: #ececec;
  color: black;
  border: none;
  border-radius: 2rem;
  border: 2px solid #ececec;
  padding: 1rem;
}

.btn a:hover {
  text-decoration: none;
  background-color: white;
  transition: 0.2s;
}

.parallax-inside {
  height: 35rem;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-page1 {
  background-image: url("../images/blue-1.jpg");
  background-position: bottom;
}
.parallax-page2 {
  background-image: url("https://raw.githubusercontent.com/aval18/akonna/master/resources/images/tote-leaf.jpg");
}
.parallax-page3 {
  background-image: url("https://raw.githubusercontent.com/aval18/akonna/master/resources/images/patch-group-edit.JPG");
  background-position: 0 40%;
}
.parallax-page4 {
  background-image: url("https://raw.githubusercontent.com/aval18/akonna/master/resources/images/holiday-market.jpg");
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  #home .jumbotron-inside {
    margin: 0;
    height: 18rem;
    width: 100%;
  }
  #home .text-content {
    line-height: 2rem;
  }
  .title {
    font-size: 4rem;
  }
  #home .jumbotron .title {
    font-size: 2rem;
  }
  #home .jumbotron .text-content {
    padding-bottom: 0;
  }
  #home {
    padding: 0;
  }
  .jumbotron p {
    font-size: 1rem;
    padding-bottom: 0;
  }
  .jumbotron {
    background-image: none;
    margin-top: 80px;
    padding: 0;
  }
  .jumbotron img {
    display: block;
    width: 100%;
    object-position: top;
    margin-top: 3rem;
  }
  .parallax {
    background-attachment: scroll;
  }
  .parallax-inside {
    width: auto;
    height: 20rem;
  }
  .parallax img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .parallax-page1, .parallax-page2, .parallax-page3 {
    background-position: center;
    object-position: center;
  }

}

/* Gallery */

  .gallery {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30rem;
    position: relative;
    color: black;
  }
  .gallery .text-content {
    text-align: left;
  }

  .gallery span {
    padding: 2rem;
    font-weight: bold;
  }
  .gallery a:hover {
    text-decoration: none;
    color: #0a5c8f;
    transition: 0.3s;
  }

  .insta {
    background-image: url("../images/monstera-hoodie-green-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .background {
    background-size: 100%;
    background-position: center;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .insta {
    background-attachment: scroll;
  }
  .gallery span {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .gallery {
    margin: 0;
    height: 12rem;
    justify-content: center;
    align-items: center;
  }
  .gallery i {
    display: none;
  }
}

/* Product feature */

  .feature {
    margin:5rem 3rem;
    margin-bottom: 0;
  }

  .feature-section {
    display: flex;
    justify-content: space-between;
  }
  .feature-box {
    width: 32%;
  }
  .feature-box img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
  }
  .feature-box p, .carousel-inner p {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Kollektif','Lato';
  }
  .feature .text-content {
    padding-top: 0;
  }
  .carousel {
    display: none;
  }

  @media only screen and (min-width:300px) and (max-width:900px) {
    .feature {
      display: none;
    }
    .carousel {
      display: block;
    }
    .carousel-inner p {
      padding-top: 0;
    }
    .carousel-inner>.item> a img {
      padding: 3rem;
      height: 30rem;
      width: 100%;
      object-fit: cover;
    }
    .carousel .text-content {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .carousel-control.right, .carousel-control.left{
      background-image: none;

    }
    .glyphicon {
      text-shadow: none;
      color: black;
      opacity: 0.6;
    }
    .carousel-caption {
      text-shadow: none;
    }
    .carousel-inner .carousel-item {
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}
  }
  @media only screen and (min-width: 1500px){

      .gallery, .feature{
        max-width: 2000px;
        margin: auto;
        margin-top: 5rem;
      }
      .feature-box p {
        font-size: 1.7rem;
      }
    }

/* Info and Half Display */

  .info {
    display: block;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
  }
  .subject {
    padding: 2rem;
  }
  .info img {
    height: 40rem;
    width: 80rem;
    object-fit: cover;
  }
  #home .info .title {
    font-family: 'Kollektif','Lato';
  }
  #home .info {
    margin-top: 1rem;
  }

  .half-display {
    display: flex;
    margin-bottom:7rem;
    margin-top: 0;
    background-color: #0a5c8f;
    color: white;
    width: 100%;
  }
  .half-box-1 {
    width: 60%;
  }
  .half-box-1 img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
  }
  .half-box-2 {
    display: flex;
    align-items: center;
    width: 40%;
  }

  .info p {
    font-size: 1.25rem;
    line-height: 2rem;
  }

    .midtitle {
    font-size: 5rem;
    font-family: 'kollektif';
  }
  .kollektif {
    font-family: 'kollektif';
    font-size: 2.5rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .info {
      display: block;
      margin-top: 90px;
    }
    .info img {
      height: 20rem;
      object-fit: cover;
    }
    .info span {
      display: block;
    }
    .info .title {
      font-size: 3rem;
      padding: 1.5rem;
      position: relative;
      width: 100%;
      margin: auto;
    }
    #home .subject, .info .subject {
      width: 100%;
      margin: auto;
      display: block;
      padding: 1rem;
    }
    .info p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.7rem;
      margin: 1rem;
      text-align: center;
    }
    .half-display {
      display: block;
    }
    .half-box-1, .half-box-2 {
      width: 100%;
    }
  }

  @media only screen and (min-width: 1500px) {
    html {
      font-size: 16px;
    }
    .info {
      max-width: none;
    }
    .info p {
      font-size: 1.5rem;
    }
    .kollektif {
      font-size: 4rem;
    }
  }

/* Canada overlay section */

.section-overlay {
  display: flex;
  margin-bottom: 54rem;
  justify-content: center;
}
.overlay-text {
  position: absolute;
  z-index: 1;
  width: 50%;
  padding-top: 3rem;
}
.section-overlay .text-content {
  padding-top: 0;
}

.overlay-text-left, .overlay-text-left .text-content {
  text-align: right;
}
.overlay-text-right, .overlay-text-right .text-content {
  text-align: left;
}
.overlay-text-left {
  margin-right: 40rem;
}

.overlay-text-right{
  margin-left: 40rem;
}

.overlay-text-left p, .overlay-text-left .btn, .overlay-text-right p, .overlay-text-right .btn{
  padding: 2rem 7rem 0 7rem;
}
.overlay-img {
  position: absolute;
}
.overlay-img-right {
  right: 16%;
}
.overlay-img-left {
  left: 18%;
}
.overlay-img img {
  width: 35rem;
  height: 45rem;
  object-fit: cover;
}


@media only screen and (min-width: 300px) and (max-width: 900px) {

  .section-overlay {
    margin-bottom: 7rem;

  }
  .midtitle {
    font-size: 3rem;
  }
  .overlay-img img {
    width: 90%;
    height: 40rem;
    object-fit: cover;
  }
  .overlay-img-left,.overlay-img-right {
    left:0;
    right:0;
  }

  .overlay-text-left p, .overlay-text-right p{
    padding: 0
  }
  .overlay-text {
    width: 90%;
    position: relative;
    margin: 0;
    text-align: center;
    padding: 0;
    color:white;
    padding-top: 2rem;
  }
  .section-overlay .btn {
    padding: 0;
    display: block;
    padding-top: 2rem
  }
  .section-overlay .text-content {
    padding-top: 15rem;
  }
}

@media only screen and (min-width: 1500px) {
  .overlay-img-left {
    left: 27%
  }
  .overlay-img-right {
    right: 26%;
  }
  .overlay-text-right p, .overlay-text-right .btn{
    padding-left: 10rem;
    padding-right: 20rem
  }
  .overlay-text-left p, .overlay-text-left .btn {
    padding-left: 20rem;
  }
  .btn {
    font-size: 1.2rem;
  }
}


/* Advantages */


.info .title {
  font-family: 'Kollektif','Lato';
  padding: 1rem;
}
.advantage i {
  font-size: 3.5rem;
  padding: 1rem;
  color: #0a5c8f;
}

  .advantage {
    padding: 0;
    padding-top: 4rem;
    border: none;
    margin: auto;
    margin-top:7rem 0;
  }
  .advantage .text-content {
    padding: 4rem;
  }

  .advantage-content {
    width: 33%;
  }
  .advantage-box {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }
  .advantage-content span {
    font-size: 2rem;
    padding: 1rem;
  }
  .advantage-content p {
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
  }
  .libre {
    color: #0a5c8f;
    font-size: 5rem;
    font-family: 'Libre Barcode 39 Text';
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .advantage {
      display: block;
      width: 100%;
    }
    .advantage-content {
      width: 100%;
    }
    .advantage-content p {
      font-size: 1rem;
    }
    .advantage-content span {
      font-size: 1.8rem;
    }
    .advantage-content .text-content {
      padding: 1rem;
    }
    .libre {
      font-size: 2.8rem;
    }
  }

  @media only screen and (min-width: 1500px) {
    .advantage-content {
      width: 25%;
    }
  }



  /* Stip */

  .strip {
    margin: 2rem;
    height: 7rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .strip .text-content {
    margin: 2rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .strip {
      letter-spacing: 0.1rem;
      line-height: 2rem;
      font-size: 1rem;
    }
    .strip .text-content {
      padding: 0;
    }
  }
  @media only screen and (min-width: 1500px){
    .strip {
      margin-top: 3rem;
    }
  }

/* Link



/* Page shop - catalogue

  #shop .jumbotron  {
    background-image: url("../images/k-heart-black.jpeg");
  }
  #shop .btn a {
    padding: 2rem;
    border-radius: 0;
    border: 3px solid white;
    background-color: white;
    font-size: 3rem;
  }
  #shop .btn a:hover {
    background-color: #ececec;
  }
  #shop .jumbotron .text-content {
    padding: 4rem;
  }
  #shop .jumbotron p {
    margin: 0;
    margin-top: 2rem;
  }

  .all-products a:hover {
    text-decoration: none;
    font-weight: bold;
  }

  .product .text-content {
    padding: 2rem;
    background-color: #ececec;
    color: black;
    text-align: center;
  }

  .product .text-content span {
    display: block;
  }

  .all-products {
    margin: 3rem 6rem;
  }

  .product {
    width: 25%;
    margin-bottom: 3rem;
  }

  .product img {
    height: auto;
    width: 100%;
  }
  */

  .row-1, .row-2,.row-3 {
    display: flex;
    justify-content: space-around;
  }

  /*

  .row-1 .product {
    margin-top: 3rem;
  }

  .name {
    font-size: 2rem;
    text-align: center;
  }

  .hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 313.83px;
  }

  .hover:hover {
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out 0.1s;
  }

  #hat .hover {
    background-image: url("../images/hat-white-square.jpg");
  }

  #hat .hover:hover {
    background-image: url("../images/hat-black-square.jpg");
  }

  #beeshirt .hover {
    background-image: url("../images/blackBeeSquare.JPG");
  }

  #beeshirt .hover:hover {
    background-image: url("../images/bee-shirts-square.jpg");
  }

  #globeshirt .hover {
    background-image: url("../images/globe-shirt-white.JPG");
  }

  #globeshirt .hover:hover {
    background-image: url("../images/globe-shirt-blue.JPG");
  }

  .mult img {
    display: none;
  }
  .description {
    display: block;
  }
  .heading{
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .mobile {
      display: block;
    }
    #shop .jumbotron {
      background-size: cover;
    }
    #shop .inside {
      height: 12rem;
      width: 70%;
      padding: 1rem;
      margin: auto;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    #shop .jumbotron .text-content {
      padding: 1rem;
    }
    #shop .title {
      font-size: 1.2rem;
    }
    #shop .btn a {
      font-size: 1.8rem;
      padding: 0;
    }
    #shop .jumbotron p {
      margin: 0;
    }
    .all-products {
      margin: 1rem;
    }
    .product {
      width: 33%;
    }
    .hover {
      display: none;
    }
    .mult img {
      display: block;
    }
    .product .text-content .description {
      display: none;
    }
    .name {
      font-size: 1.2rem;
    }
    .price, .btn a {
      font-size: 0.8rem;
    }
    .heading {
      font-size: 0.9rem;
    }

  }

  /* Custom */

  .detail .text-content {
    text-align: left;
  }

  strong {
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  #custom .detail span {
    display: block;
  }

  /* About */

  .section {
    display: flex;
    padding: 2rem 5rem;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
  }

  .subtitle {
    display: block;
    font-size: 3rem;
  }

  .vid {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .vid img{
    width: 100%;
  }
  .vid video {
    width: 100%;
  }

  .section .text-content {
    padding: 3rem;
  }


  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .detail {
      width: 100%;
    }
    .subtitle{
      font-size: 2.5rem;
    }
    .section {
      padding: 1rem;
      display: block;
    }
    .vid video {
      width: 100%
    }
    .vid {
      width: 60%;
      padding-bottom: 2rem;
    }
    .vid img {
      object-position: top;
      width: 100%;
      height: 100%;
    }

  }


@media only screen and (min-width: 300px) and (max-width: 768px) {
  #contact .section {
    padding: 1rem;
  }
  .section .text-content {
    padding: 1rem;
  }
}

/* Events */

.market {
  max-width: 2000px;
  margin: auto;
}
.box {
  width: 25%;
  height: 18rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #c4d4e7;
  color: white;
}
.box-title {
  font-size: 2rem;
  display: block;
  font-weight: bold;
  color: black;
}
.box .box-title a:hover {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
.market .highlight{
  padding: 2rem;
  padding-left: 20rem;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .row-1,.row-2,.row-3 {
    display: block;
  }
  .box {
    width: 90%;
    height: 10rem;
    padding: 1rem;
    margin: 1rem;
  }
  .box-title {
    font-size: 1.5rem;
  }
  .desktop {
    display: none;
  }
  .market {
    padding: 1rem;
  }
  .market .highlight {
    padding-left: 1rem;
  }
}
  /* Footer */


    footer {
      padding: 2rem;
      text-align: center;
      bottom: 0;
      width: 95%;
      margin: auto;
      margin-top: 3rem;
      position: relative;
      max-width: 2000px;
      border-top: 2px black solid;
    }
    .footer-content {
      display: flex;
      text-align: left;
      justify-content: space-around;
    }
    .footer-box span {
      font-size: 2rem;
      font-family: 'Kollektif';
    }
    .footer-section {
      display: flex;
    }
    footer ul {
      list-style: none;
      padding: 0;
      font-family: 'Lato';
    }
    footer div {
      padding: 2rem;
      padding-top: 0;
    }
    footer .logo {
      padding: 0;
    }
    footer a:hover {
      text-decoration: none;
    }

@media only screen and (min-width: 300px) and (max-width: 900px) {
  footer {
    padding: 1rem;
  }
   .footer-content{
     display: block;
   }
   .footer-section {
     display: flex;
     padding: 0;
     justify-content: center;
   }
   .footer-box span {
     font-size: 1.5rem;
   }
   footer div {
     padding: 0;
   }
   footer .logo {
     font-size: 1.5rem;
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .logo span {
     padding: 1rem;
   }
   .footer-box {
     padding: 1rem;
   }
   footer p {
     padding-top: 1rem;
   }

}
