/* Font Face */
@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}@font-face {
  font-family: 'Kollektif';
  src: url('../fonts/Kollektif-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}@font-face {
  font-family: 'Friday';
  src: url('../fonts/The-Friday-Stroke.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} @font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v16/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal */

html {
  font-size: 14px;
  height: 100%;
}

body {
  font-family: 'Lato';
  height: 100%;
}

p {
  font-weight: 100;
}

ol, ul {
  margin: 0;
}

.title {
  font-size: 10rem;
  text-align: center;
}

.text-content {
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.subtitle {
  font-size: 3rem;
}

.page {
  height: 100%;
  display: none;
  padding-top: 20px;
  margin: 0;
}

a:hover {
  color: inherit;
}

.lato {
  font-family: 'Lato';
}
.mobile {
  display: none;
}

button {
  background-color: none;
  border: none;
}


/* Header */

header {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 100%;
  top: 0;
  padding: 1rem;
  transition: 0.2s;
}


.menu a:hover {
  border-bottom: 2px solid #0a5c8f;
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

nav span {
  padding: 1rem;
}

nav li {
  display: inline;
  list-style: none;
  text-transform: uppercase;
  padding-right: 1.5rem;
}

.logo img {
  width: 4rem;
}

.logo {
  padding-left: 15rem;
  font-family: 'Kollektif','Lato';
  color: #0a5c8f;
  font-size: 3rem;
}
.logo a:hover {
  text-decoration: none;
}

.menu {
  padding-right: 15rem;
  overflow: hidden;
}
.open {
  display: none;
}

.mobile-overlay ul {
  padding: 0;
}

.menu ul {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

#mobile, #mobileShop {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .mobile {
    display: block;
  }
  header {
    display: flex;
    align-items: center;
  }
  nav {
    justify-content: space-between;
    width: 100%;
  }
  nav, header {
    height: 5rem;
  }
  .menu {
    display: none;
  }
  .logo {
    padding-left: 1rem;
  }
  .logo img {
    width: 3rem;
  }
  .logo span {
    font-size: 2rem;
  }
  .open {
    display: block;
    padding: 1rem;
  }
  header a:hover {
    border-bottom: none;
  }
  #mobile, #mobileShop {
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    display: block;
  }
  .mobile-overlay, .o{
    height: 100%;
    width: 0;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #ececec;
    transition: 0.6s;
  }
  .o {
    z-index: 5;
  }
  .overlay-content {
    position: relative;
    top: 5%;
    text-align: left;
    padding-top: 1rem;
    overflow: hidden;
  }
  .mobile-overlay-main {
    left: 15%;
  }
  .overlay-content li {
    display: block;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }
  .overlay-content button {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    padding: 0;
    background-color: #ececec;
  }
  .mobile-overlay a:hover {
    text-decoration: none;
  }
  .text-content {
    padding: 2rem;
  }
  .mobile-overlay .mobile-overlay-close {
    position: absolute;
    padding-left: 1rem;
    padding-right: 1rem;
    left: 0;
    top: 0;
    background-color: #ececec;
  }
  .backbtn {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 1rem;
  }
}

.dropdown {
  overflow: hidden;
  float: left;
  position: static;
  top:100%;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  padding-right: 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  visibility: hidden;
  display: block;
  min-width: 270px;
  position: absolute;
  background-color: white;
  z-index: 1;
  top: 60%;
  margin: 0;
  padding-top: 1rem;
  opacity: 0;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

/* Jumbotron */

#home {
  display: block;
}

.jumbotron {
  background-image: url("../images/pinetree-tote.jpg");
  margin: 0;
  background-size: cover;
  background-position: top;
  margin-top: 100px;
}

.jumbotron p {
  font-size: 1.3rem;
}

#home .jumbotron img {
  display: none;
}

.jumbotron .title {
  font-family: 'Kollektif', 'Lato';
  font-size: 3rem;
}
#home .jumbotron .text-content {
  padding: 2rem;
}

.inside {
  background-color: white;
  width: 35rem;
  height: 25rem;
  margin: auto;
  margin-top: 14rem;
  margin-bottom: 9rem;
  margin-right: 10rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn a {
  background-color: #ececec;
  color: black;
  border: none;
  border-radius: 2rem;
  border: 2px solid #ececec;
  padding: 1rem;
}

.btn a:hover {
  text-decoration: none;
  background-color: white;
  transition: 0.2s;
}

@media only screen and (min-width: 300px) and (max-width: 768px) {
  #home .inside {
    margin: 0;
    height: 20rem;
    width: 100%;
  }
  #home .text-content {
    line-height: 2rem;
  }
  .title {
    font-size: 4rem;
  }
  #home .jumbotron .title {
    font-size: 2rem;
  }
  #home {
    padding: 0;
  }
  .jumbotron p {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .jumbotron {
    background-image: none;
    margin-top: 80px;
  }
  #home .jumbotron {
    padding: 0;
  }
  #home .jumbotron img {
    display: block;
    width: 100%;
    object-position: top;
    margin-top: 3rem;
  }

}

/* Gallery */

  .gallery {
    display: flex;
    justify-content: center;
    margin: 3rem;
    align-items: center;
    height: 30rem;
    position: relative;
  }

  .gallery span {
    padding: 2rem;
    font-weight: bold;
  }
  .gallery a:hover {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }

  .insta {
    background-image: url("../images/blue-1.jpg");
    background-size: cover;
  }
  .background {
    background-size: 100%;
    background-position: center;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .gallery span {
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
  }
  .gallery {
    margin: 0;
    height: 12rem;
  }
  .gallery i {
    display: none;
  }
}

/* Product feature */

  .feature {
    display: flex;
    justify-content: space-between;
    margin:5rem 3rem;
    margin-bottom: 0;
  }
  .feature-box {
    width: 32%;
  }
  .feature-box img {
    width: 100%;
    object-fit: cover;
    height: 30rem;
  }
  .feature-box p {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    font-family: 'Kollektif','Lato';
  }

  @media only screen and (min-width:300px) and (max-width:900px) {
    .feature {
      display: block;
      margin:0;
    }
    .feature-box {
      width: 100%;
    }
  }
  @media only screen and (min-width: 1500px){

      .gallery, .feature{
        max-width: 2000px;
        margin: auto;
        margin-top: 5rem;
      }
    }

/* Info Order */

  .info {
    display: block;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
  }
  .subject {
    padding: 2rem;
  }
  .info img {
    height: 40rem;
    width: 80rem;
    object-fit: cover;
  }
  #home .info .title {
    font-family: 'Friday', 'Kollektif';
  }

  #home .info img {
    height: 30rem;
    margin-top: 3rem;
    width: auto;
  }
  #home .info {
    margin-top: 1rem;
  }

  #home .subject {
    display: flex;
    margin:7rem;
    margin-top: 0;
  }

  .info p {
    margin-top: 12rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    line-height: 2.8rem;
  }
  .order .title {
    right: 5%;
    margin-top: 3rem;
    color: white;
    background-color: #c4d4e7;
}
    .order .title, .advantage .title {
    font-size: 5rem;
    position: absolute;
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .info {
      margin: 2rem;
      display: block;
      margin-top: 90px;
    }
    .info img {
      height: 20rem;
      object-fit: cover;
    }
    .info span {
      display: block;
    }
    #home .info {
      margin: 2rem;
      padding: 0;
    }
    .info .title {
      font-size: 3rem;
      letter-spacing: 0.6rem;
      padding: 1.5rem;
      position: relative;
      width: 100%;
      margin: auto;
    }
    #home .info img {
      height: 15rem;
      width: 100%;
      margin: 0;
    }
    #home .subject, .info .subject {
      width: 100%;
      margin: auto;
      display: block;
      padding: 1rem;
    }
    .info p {
      margin: 0;
      font-size: 1rem;
      line-height: 1.7rem;
      margin: 1rem;
      text-align: center;
    }
    .order .title {
      padding: 0.5rem;
      right: 0;
    }
    #home .subject {
      display: block;
    }
  }

  @media only screen and (min-width: 1500px) {
    .order .title {
      right: 20%;
    }
    .order {
      margin: auto;
    }
    html {
      font-size: 16px;
    }
    .subject {
      padding: 3rem;
    }
    #home .subject {
      margin: 0;
    }
    .advantage .title {
      left: 20%;
    }
  }

/* Advantages */

.info .title {
  font-family: 'Friday', 'Kollektif';
  letter-spacing: 0.8rem;
  padding: 1rem;
}

  .advantage .title {
    left: 10%;
  }

  .advantage {
    padding: 0;
    border: none;
    display: flex;
    margin: auto;
    margin-top:7rem 0;
  }
  .advantage .text-content {
    padding: 4rem;
  }

  .advantage-content {
    width: 33%;
  }
  .advantage-box {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 8rem;
  }
  .advantage-content span {
    font-size: 2rem;
    padding: 1rem;
  }
  .advantage-content p {
    font-size: 1.3rem;
    margin: 0;
    line-height: 2rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .advantage {
      display: block;
    }
    .advantage-content {
      width: 100%;
    }
    .advantage-content p {
      font-size: 1rem;
    }
    .advantage-content span {
      font-size: 1.8rem;
    }
    .advantage-content .text-content {
      padding: 1rem;
    }
    .advantage .title {
      left: 0;
      margin: 0;
    }
    .advantage .title, .order .title {
      background-color: white;
      color: black;
      font-size: 2.5rem;
    }
  }

  @media only screen and (min-width: 1500px) {
    .advantage .title {
      left: 20%;
    }
  }



  /* Stip */

  .strip {
    margin: 2rem;
    height: 7rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .strip .text-content {
    margin: 2rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .strip {
      letter-spacing: 0.1rem;
      line-height: 2rem;
      font-size: 1rem;
    }
    .strip .text-content {
      padding: 0;
    }
  }
  @media only screen and (min-width: 1500px){
    .strip {
      margin-top: 3rem;
    }
  }

/* Link



/* Page shop - catalogue

  #shop .jumbotron  {
    background-image: url("../images/k-heart-black.jpeg");
  }
  #shop .btn a {
    padding: 2rem;
    border-radius: 0;
    border: 3px solid white;
    background-color: white;
    font-size: 3rem;
  }
  #shop .btn a:hover {
    background-color: #ececec;
  }
  #shop .jumbotron .text-content {
    padding: 4rem;
  }
  #shop .jumbotron p {
    margin: 0;
    margin-top: 2rem;
  }

  .all-products a:hover {
    text-decoration: none;
    font-weight: bold;
  }

  .product .text-content {
    padding: 2rem;
    background-color: #ececec;
    color: black;
    text-align: center;
  }

  .product .text-content span {
    display: block;
  }

  .all-products {
    margin: 3rem 6rem;
  }

  .product {
    width: 25%;
    margin-bottom: 3rem;
  }

  .product img {
    height: auto;
    width: 100%;
  }
  */

  .row-1, .row-2,.row-3 {
    display: flex;
    justify-content: space-around;
  }

  /*

  .row-1 .product {
    margin-top: 3rem;
  }

  .name {
    font-size: 2rem;
    text-align: center;
  }

  .hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 313.83px;
  }

  .hover:hover {
    background-repeat: no-repeat;
    transition: 0.1s ease-in-out 0.1s;
  }

  #hat .hover {
    background-image: url("../images/hat-white-square.jpg");
  }

  #hat .hover:hover {
    background-image: url("../images/hat-black-square.jpg");
  }

  #beeshirt .hover {
    background-image: url("../images/blackBeeSquare.JPG");
  }

  #beeshirt .hover:hover {
    background-image: url("../images/bee-shirts-square.jpg");
  }

  #globeshirt .hover {
    background-image: url("../images/globe-shirt-white.JPG");
  }

  #globeshirt .hover:hover {
    background-image: url("../images/globe-shirt-blue.JPG");
  }

  .mult img {
    display: none;
  }
  .description {
    display: block;
  }
  .heading{
    font-size: 1.5rem;
  }

  @media only screen and (min-width: 300px) and (max-width: 900px) {
    .desktop {
      display: none!;
    }
    .mobile {
      display: block;
    }
    #shop .jumbotron {
      background-size: cover;
    }
    #shop .inside {
      height: 12rem;
      width: 70%;
      padding: 1rem;
      margin: auto;
      margin-top: 5rem;
      margin-bottom: 5rem;
    }
    #shop .jumbotron .text-content {
      padding: 1rem;
    }
    #shop .title {
      font-size: 1.2rem;
    }
    #shop .btn a {
      font-size: 1.8rem;
      padding: 0;
    }
    #shop .jumbotron p {
      margin: 0;
    }
    .all-products {
      margin: 1rem;
    }
    .product {
      width: 33%;
    }
    .hover {
      display: none;
    }
    .mult img {
      display: block;
    }
    .product .text-content .description {
      display: none;
    }
    .name {
      font-size: 1.2rem;
    }
    .price, .btn a {
      font-size: 0.8rem;
    }
    .heading {
      font-size: 0.9rem;
    }

  }

  /* Custom */

  .detail .text-content {
    text-align: left;
  }

  strong {
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  #custom span {
    display: block;
  }

  /* About */

  .section {
    display: flex;
    padding: 2rem 5rem;
    justify-content: center;
    max-width: 1500px;
    margin: auto;
  }

  .subtitle {
    display: block;
  }

  .vid {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .vid img{
    width: 100%;
  }
  .vid video {
    width: 100%;
  }

  .section .text-content {
    padding: 3rem;
  }


  @media only screen and (min-width: 300px) and (max-width: 768px) {
    .detail {
      width: 100%;
    }
    .subtitle{
      font-size: 2.5rem;
    }
    .section {
      padding: 1rem;
      display: block;
    }
    .vid video {
      width: 100%
    }
    .vid {
      width: 60%;
      padding-bottom: 2rem;
    }
    .vid img {
      object-position: top;
      width: 100%;
      height: 100%;
    }

  }


@media only screen and (min-width: 300px) and (max-width: 768px) {
  #contact .section {
    padding: 1rem;
  }
  .section .text-content {
    padding: 1rem;
  }
}

/* Events */

.market {
  max-width: 2000px;
  margin: auto;
}
.box {
  width: 25%;
  height: 18rem;
  padding: 2rem;
  margin: 2rem;
  background-color: #c4d4e7;
  color: white;
}
.box-title {
  font-size: 2rem;
  display: block;
  font-weight: bold;
  color: black;
}
.box .box-title a:hover {
  color: white;
  text-decoration: none;
  transition: 0.2s;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  .row-1,.row-2,.row-3 {
    display: block;
  }
  .box {
    width: 90%;
    height: 10rem;
    padding: 1rem;
    margin: 1rem;
  }
  .box-title {
    font-size: 1.5rem;
  }
  .desktop {
    display: none;
  }
  .market {
    padding: 1rem;
  }
}
  /* Footer */


    footer {
      padding: 2rem;
      text-align: center;
      bottom: 0;
      width: 95%;
      margin: auto;
      margin-top: 3rem;
      position: relative;
      max-width: 2000px;
      border-top: 2px black solid;
    }
    .footer-content {
      display: flex;
      text-align: left;
      justify-content: space-around;
    }
    .footer-box span {
      font-size: 2rem;
      font-family: 'Kollektif';
    }
    .footer-section {
      display: flex;
    }
    footer ul {
      list-style: none;
      padding: 0;
      font-family: 'Lato';
    }
    footer div {
      padding: 2rem;
      padding-top: 0;
    }
    footer .logo {
      padding: 0;
    }
    footer a:hover {
      text-decoration: none;
    }

@media only screen and (min-width: 300px) and (max-width: 900px) {
  footer {
    padding: 1rem;
  }
   .footer-content{
     display: block;
   }
   .footer-section {
     display: flex;
     padding: 0;
     justify-content: center;
   }
   .footer-box span {
     font-size: 1.5rem;
   }
   footer div {
     padding: 0;
   }
   footer .logo {
     font-size: 1.5rem;
     padding: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .logo span {
     padding: 1rem;
   }
   .footer-box {
     padding: 1rem;
   }
   footer p {
     padding-top: 1rem;
   }

}
